{
    "globals": {
        "React": "writable"
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "plugins": ["react", "prettier"],
    "rules": {
        "prettier/prettier": [
          "error",
          {
            "endOfLine": "auto",
          }
        ],
        "semi-style":"error",
        "arrow-parens":"warn",
        "react/prop-types": "error",
        "react/jsx-key": "error",
        "import/prefer-default-export": "error",
        "space-in-parens":"error",
        "import/exports-last": "error",
        "import/order": [
        "error",
        {
            "newlines-between": "always",
            "alphabetize": {
            "order": "asc",
            "caseInsensitive": true
            },
            "groups": [
            ["builtin", "external"],
            ["internal", "parent"],
            ["sibling", "index"]
            ]
        }
        ],
        "newline-before-return": "error",
        "semi":"error",
        "newline-per-chained-call":"error",
        "newline-after-var":"error"
    },
    "extends": [
      "airbnb",
      "airbnb/hooks",
      "plugin:react-perf/recommended",
      "plugin:prettier/recommended",
      "prettier"
    ]
}
