{
	"overrides": [
			{
					"files": ".prettierrc",
					"options": {
							"parser": "json"
					}
			}
	],
	"proseWrap": "always",
	"trailingComma": "all",
	"semi": true,
	"singleQuote": true,
	"arrowParens": "avoid",
	"quoteProps": "consistent",
	"jsxBracketSameLine": false,
	"rangeStart": 100,
	"endOfLine": "lf",
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"tabWidth": 2,
	"useTabs": true,
	"eslintIntegration": true,
	"stylelintIntegration": true
}
