.footer {
    padding: 4rem 0rem;
    position: relative;
    z-index: 5;
    .footer-content {
        max-width: 78%;

        margin: 0 auto;
        .footer-copyright-text {
            opacity: 1;
            color: darkgray;
        }
    }
}
