.home-container {
  margin: 0 auto;
  display: flex;

  .sidebar-container {
  }

  .home-content-container {
    min-width: 80%;

    .home-content {
      max-width: 90%;
      margin: 2rem auto;
      display: flex;
      justify-content: space-between;
      .home-left-side {
        min-height: 92vh;
        .home-left-side-content {
          min-height: 100%;
          .person-meta-information-container {
            margin-bottom: 8rem;
          }
        }
      }
      .home-right-side {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .char-model-and-gear-container {
          display: flex;
          .char-model-container {
            margin-right: 2rem;
            max-height: 92vh;

            .char-model {
              max-height: 90%;
            }
          }
        }
      }
    }
  }
}
