.home-container {
    overflow: hidden;
    margin: 0 auto;
    display: flex;

    .home-content-container {
        min-width: 80%;

        .home-content {
            max-width: 95%;
            margin: 2rem 0 2rem auto;
            display: flex;
            justify-content: space-between;
            .home-left-side {
                height: 92vh;
                .home-left-side-content {
                    min-height: 100%;
                    .person-meta-information-container {
                        margin-bottom: 8rem;

                        .meta-info-top {
                            display: flex;
                            flex-direction: column;
                            .job-info {
                                display: flex;
                                align-items: center;

                                img {
                                    display: inline;
                                    width: 3rem;
                                    height: 3rem;
                                }
                            }
                        }
                        .meta-info-bottom {
                            display: flex;
                            justify-content: space-evenly;
                            margin-bottom: 1rem;
                        }
                    }

                    .person-data-content {
                        max-height: 50vh;

                        .person-data-header {
                            margin-bottom: 2rem;
                        }
                        .person-data-mounts {
                            .person-data-mounts-content {
                                display: grid;
                                grid-template-columns: repeat(
                                    auto-fill,
                                    minmax(4rem, 1fr)
                                );
                                row-gap: 1rem;
                                column-gap: 0.4rem;
                            }
                        }
                    }
                }
            }
            .home-right-side {
                max-height: 82vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .char-model-and-gear-container {
                    max-height: 80%;
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 2rem;
                    .gear-list {
                        overflow-y: scroll;
                    }

                    .char-model-container {
                        display: flex;
                        justify-content: center;
                        margin-right: 2rem;
                        max-height: 76rem;

                        .char-model {
                            object-fit: cover;
                            max-height: 100%;
                        }
                    }
                }

                //maybe add an accenting background color
                .char-stats-container {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}
.intro-page {
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    transform: translate(-4.5%, -3%);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 110vh;
        width: 100vw;
        opacity: 0.04;
        background-image: url("../Images/titanegi.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .intro-text {
        background-color: rgba(0, 0, 0, 0.1);
        transform: translate(50%, 350%);
        position: absolute;
        z-index: 5;
    }
}
