.nav-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;

    .nav-bar-content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        min-width: 90%;
        margin: 0 auto 0 0;
        .nav-header {
            padding-left: 2rem;
            color: white;
        }
        .nav-buttons {
            min-width: 25rem;
            justify-content: space-between;
            display: flex;
            .nav-button {
                font-size: 2rem;
                display: flex;
                width: 80%;
                justify-content: space-evenly;
                .nav-button-text {
                    color: white;
                }
            }
        }
    }
}
