//color palette

$white: #faf9ff; // preferably the text
$purple: #4424a9; //previous main color
$darkgray: #5f5f63; //background
$teal: #06c0d7; //previous secondary color

$primary: #ce93d8; // the main color
$secondary: #29b6f6; // secondary color
