.status-button-container {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid black;
}

.status-button-container .status-button {
  font-size: 1.4rem;
  background: #039ae0;
  color: white;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 5;
}

.nav-bar .nav-bar-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 90%;
  margin: 0 auto 0 0;
}

.nav-bar .nav-bar-content .nav-header {
  padding-left: 2rem;
  color: white;
}

.nav-bar .nav-bar-content .nav-buttons {
  min-width: 25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar .nav-bar-content .nav-buttons .nav-button {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-bar .nav-bar-content .nav-buttons .nav-button .nav-button-text {
  color: white;
}

.side-bar-container {
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-bar-container .side-bar-content {
  margin-top: 2rem;
  width: 100%;
}

.side-bar-container .side-bar-content .button-hint {
  max-width: 80%;
  text-align: left;
  margin: 0 auto;
}

.MuiTooltip-popperInteractive {
  color: blue;
  font-size: 1.4rem;
}

.home-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-container .home-content-container {
  min-width: 80%;
}

.home-container .home-content-container .home-content {
  max-width: 95%;
  margin: 2rem 0 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-container .home-content-container .home-content .home-left-side {
  height: 92vh;
}

.home-container .home-content-container .home-content .home-left-side .home-left-side-content {
  min-height: 100%;
}

.home-container .home-content-container .home-content .home-left-side .home-left-side-content .person-meta-information-container {
  margin-bottom: 8rem;
}

.home-container .home-content-container .home-content .home-left-side .home-left-side-content .person-meta-information-container .meta-info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-container .home-content-container .home-content .home-left-side .home-left-side-content .person-meta-information-container .meta-info-top .job-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container .home-content-container .home-content .home-left-side .home-left-side-content .person-meta-information-container .meta-info-top .job-info img {
  display: inline;
  width: 3rem;
  height: 3rem;
}

.home-container .home-content-container .home-content .home-left-side .home-left-side-content .person-meta-information-container .meta-info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 1rem;
}

.home-container .home-content-container .home-content .home-left-side .home-left-side-content .person-data-content .person-data-mounts .person-data-mounts-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(4rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
  row-gap: 1rem;
  -webkit-column-gap: 0.4rem;
          column-gap: 0.4rem;
}

.home-container .home-content-container .home-content .home-right-side {
  max-height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-container .home-content-container .home-content .home-right-side .char-model-and-gear-container {
  max-height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home-container .home-content-container .home-content .home-right-side .char-model-and-gear-container .char-model-container {
  margin-right: 2rem;
  max-height: 76rem;
}

.home-container .home-content-container .home-content .home-right-side .char-model-and-gear-container .char-model-container .char-model {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
}

.home-container .home-content-container .home-content .home-right-side .char-stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-container .home-content-container .home-content .home-right-side .char-stats-container .char-stats-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

.home-container .home-content-container .home-content .home-right-side .char-stats-container .char-stats-content .char-stats-attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-container .home-content-container .home-content .home-right-side .char-stats-container .char-stats-content .char-stats-name-and-value-container .char-stats-name-and-value {
  display: inline-block;
  padding: 1rem;
}

.home-container .home-content-container .home-content .home-right-side .char-stats-container .char-stats-content .char-stats-name-and-value-container .char-stats-name-and-value .char-stats-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-container .home-content-container .home-content .home-right-side .char-stats-container .char-stats-content .char-stats-name-and-value-container .char-stats-name-and-value .char-stats-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  padding: 4rem 0rem;
  position: relative;
  z-index: 5;
}

.footer .footer-content {
  max-width: 90%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
  text-decoration: none;
}

html {
  font-size: 62.5%;
}
/*# sourceMappingURL=App.css.map */