@import "./getStatus";
@import "./NavBar";
@import "./SideBar";
@import "./Home";
@import "./Footer";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  text-decoration: none;
}
body {
}
html {
  font-size: 62.5%;
}
