@import "./getStatus";
@import "./NavBar";
@import "./SideBar";
@import "./Home";
@import "./Footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    text-decoration: none;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

// media queries

//laptop with hidpi (1440x900):
//gearlist is styled with material ui usestyles
@media only screen and (max-width: 1562px) {
    //char model
    .intro-page {
        &::before {
            height: 117vh;
            width: 117vw;
        }
        .intro-text {
            transform: translate(30%, 150%);
        }
    }

    .home-right-side {
        .char-model-and-gear-container {
            max-width: 90%;
            height: 40rem;

            .char-model-container {
                .char-model {
                    max-width: 90%;
                }
            }
        }
    }
}

//tablet view
@media only screen and (max-width: 1140px) {
    .intro-page {
        &::before {
            display: none;
        }
        .intro-text {
            transform: translate(30%, 150%);
        }
    }
    .char-model-and-gear-container {
        justify-content: center;
    }
    .char-model-container {
        display: flex;
        justify-content: flex-start;
    }
    .nav-bar {
        .nav-bar-content {
            margin: 2rem auto 2rem 1rem;
            .nav-burger {
                display: block;
                padding-left: 2rem;
            }
        }
    }

    .side-bar-container {
        position: absolute;
        z-index: 2;
        transform: translateX(-150%);
    }
    .home-container {
        display: flex;

        .home-content-container {
            display: flex;
            justify-content: center;
            min-width: 100%;
            .home-content {
                flex-direction: column;
                margin: 2rem auto;
                .home-left-side {
                    height: 50vh;
                    .home-left-side-content {
                        display: flex;
                        justify-content: space-between;
                    }
                }
                .home-right-side {
                    justify-content: center;
                }
            }
        }
    }
}
//mobile view
@media only screen and (max-width: 700px) {
    //navbar
    .intro-page {
        &::before {
            display: none;
        }
        .intro-text {
            transform: translate(5%, 50%);
        }
    }
    //personmetainfo and persondata
    .person-meta-information-container {
        margin-bottom: 4rem !important;
    }
    .home-left-side {
        min-height: 90rem;
        display: flex;
        justify-content: center;
    }
    .home-left-side-content {
        display: flex;
        flex-direction: column;
        min-height: 50rem;
        justify-content: flex-start !important;
    }

    //charmodel gearlist stats and jobs
    .home-right-side {
        min-height: 100rem;
        .char-model-and-gear-container {
            min-height: 60vh;

            .char-model-container {
                margin-right: 0rem !important;
                max-height: 35rem !important;
            }
        }
        .char-stats-container {
            margin-bottom: 10rem;
            min-height: 50rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
