.status-button-container {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid black;
}

.status-button-container .status-button {
  font-size: 1.4rem;
  background: #039ae0;
  color: white;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 5;
}

.nav-bar .nav-bar-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 90%;
  margin: 0 auto 0 0;
}

.nav-bar .nav-bar-content .nav-header {
  padding-left: 2rem;
  color: white;
}

.nav-bar .nav-bar-content .nav-buttons {
  min-width: 25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar .nav-bar-content .nav-buttons .nav-button {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-bar .nav-bar-content .nav-buttons .nav-button .nav-button-text {
  color: white;
}

.side-bar-container {
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-bar-container .side-bar-content {
  margin-top: 2rem;
  width: 100%;
}

.side-bar-container .side-bar-content .button-hint {
  max-width: 80%;
  text-align: left;
  margin: 0 auto;
}

.home-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-container .home-content-container {
  width: 100%;
}

.home-container .home-content-container .home-content {
  max-width: 90%;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-container .home-content-container .home-content .home-left-side {
  min-height: 92vh;
}

.home-container .home-content-container .home-content .home-left-side .home-left-side-content {
  min-height: 100%;
}

.home-container .home-content-container .home-content .home-left-side .home-left-side-content .person-meta-information-container {
  margin-bottom: 8rem;
}

.home-container .home-content-container .home-content .home-right-side {
  min-height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home-container .home-content-container .home-content .home-right-side .char-model-and-gear-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-container .home-content-container .home-content .home-right-side .char-model-and-gear-container .char-model-container {
  margin-right: 2rem;
}

.footer {
  padding: 4rem;
  position: relative;
  z-index: 5;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
  text-decoration: none;
}

html {
  font-size: 62.5%;
}
/*# sourceMappingURL=App.css.map */